@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #fff;
  font: normal 100%/1.5 sans-serif;
  font-family: 'Source Sans Pro', sans-serif; 
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/*
animation-name
animation-duration
animaiton-timing-function (linear, ease-in-out...)
animaiton-iteration-count (number or infinate)
animaiton-direction (normal, reverse, alternate)
*/


.nav {

}

.banner {
    background-color: #252B3F;
    margin: 0 auto;
    text-align: center;
}

.all {
    position: relative;
    max-width: 40em;
    margin:0 auto; 
    height: 36vw;
    max-height: 250px;
    padding-top: 3em;
}

.dots-1 {
    position: relative;
}

.dots-2 {
    position: relative;
}

.dots-3 {
    position: relative;
}

.dots-1 img {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
}

.dots-2 img {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
}

.dots-3 img{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
}

img.frame-1 {
     -webkit-animation: spin 2s ease linear;
    animation: spin 2s linear; 
}

img.pic-1 {
-webkit-animation: fade 1s 2s ease linear;
    animation: fade 1s 2s linear forwards; 
}

img.frame-2 {
     -webkit-animation: spin 2s 3s ease linear;
    animation: spin 2s 3s linear; 
}

img.pic-2 {
-webkit-animation: fade 1s ease linear;
    animation: fade 1s 5s linear forwards; 
}

img.frame-3 {
     -webkit-animation: spin 2s 6s ease linear;
    animation: spin 2s 6s linear; 
}

img.pic-3 {
-webkit-animation: fade 1s 8s ease linear;
    animation: fade 1s 8s linear forwards; 
}

h1, h2 {
    font-weight: 100;
    margin: 0;
    padding: 0;
    transition: color 500ms ease-in-out;
}

.name{
    padding-top: 2em;
}

h1:hover {
    color: #68C5B4;
    font-size: 2em;
}
#A_hidden {
	display: none;
}

#A:hover #A_hidden {
    display: block;
    margin: 0 auto;
}

.button {
    width: 50px;
    padding-top: 5px;
    padding-bottom: 15px;
}


.pieces {
     
}

.about {
    xbackground-color: #F27678;
}


@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}


@keyframes spin {
     0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

