@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #fff;
  font: normal 100%/1.5 sans-serif;
  font-family: 'Source Sans Pro', sans-serif; 
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
}

.navbackground {
    background-color: rgba(255, 255, 255, .5);
}

.navbackground2{
    background-color: rgb(239, 239, 239); 
}

.navwrapper{
    position: relative;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	bottom: 14.5px;
	height: 40px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	width: 46px;
	background: transparent url("../images/icon-nav.svg") no-repeat 0 0;
	text-indent: 100%;
	white-space: nowrap; 
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #3F3F3F;
	background-position: 0 -40px;
}

.nav-btn[data-state="active"] {
	background-color: #3F3F3F;
	background-position: -46px -40px;
}

.nav {
	background-color: #3F3F3F;
    overflow: hidden;
    position: absolute;
    right: .62em;
    width: 10em;
    top: 48px;
    z-index: 100;
}

.nav > ul {
	margin: 0;
	padding: 0.8em 0;
	list-style-type: none;
	font-size: 1.25em;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: 0.5em 10px;
	color: #e2e2e2;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #9b9b9b;
	color: #fff;
}

.nav-top {
	max-height: 0;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
	max-height: 14em;
}

.masthead { 
    height: 50px;
}

.banner {
    background-color: #252B3F;
    margin: 0 auto;
    text-align: center;
}

.all {
    position: relative;
    max-width: 40em;
    margin:0 auto; 
    height: 36vw;
    max-height: 250px;
    padding-top: 3em;
}

.dots-1 {
    position: relative;
}

.dots-2 {
    position: relative;
}

.dots-3 {
    position: relative;
}

.dots-1 img {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
}

.dots-2 img {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
}

.dots-3 img{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
}

img.frame-1 {
    -webkit-animation: spin 2s linear;
    animation: spin 2s linear; 
}

img.pic-1 {
    -webkit-animation: fade 1s 2s linear forwards;
    animation: fade 1s 2s linear forwards; 
}

img.frame-2 {
    -webkit-animation: spin 2s 3s linear;
    animation: spin 2s 3s linear; 
}

img.pic-2 {
    -webkit-animation: fade 1s 5s linear forwards;
    animation: fade 1s 5s linear forwards; 
}

img.frame-3 {
    -webkit-animation: spin 2s 6s linear;
    animation: spin 2s 6s linear; 
}

img.pic-3 {
    -webkit-animation: fade 1s 8s linear forwards;
    animation: fade 1s 8s linear forwards; 
}

h1, h2 {
    font-weight: 200;
    margin: 0;
    padding: 0;
    transition: color 500ms ease-in-out;
}

.name{
    padding-top: 2em;
    height: 8em;
    transition: all 400ms ease-in-out;
}

.name:hover{
    height: 13.5em;
}

h2:hover {
    color: #68C5B4;
}

h1:hover {
    color: #68C5B4;
    font-size: 2em;
}

.name:hover .button {
    opacity: 1;
    margin: 0 auto;
}

.button {
    width: 50px;
    padding-top: 5px;
    padding-bottom: 15px;
    opacity:0;
    transition: opacity 500ms ease-in-out;
}


.pieces {
     
}

.about {
    xbackground-color: #F27678;
}


@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}


@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

