html {
  font: normal 100%/1.5 "font-family: 'Abril Fatface', cursive;", serif;
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 120%;
  }

}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }

}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
  margin: 0 0 1.5rem;
}

